@media( max-width:1013px) {
    .projects__left {
        row-gap: calc(var(--index) * 1);
    }
    .projects__right {
        row-gap: calc(var(--index) * 1);
    }
    .projects {
        column-gap: calc(var(--index) * 4);
    }
    .projects__left img,
    .projects__right img {
        width: calc(var(--index) * 15);
        height: calc(var(--index) * 10);
        margin-top: 3.2rem;
    }
}

@media( max-width:1013px) {
    /* mob nav */
    .btn-mobile__nav {
        display: block;
        z-index: 99999;
        top: 10px;
        left: 20px;
    }
    .sticky .mobile-nav {
        width: 100%;
        position: fixed;
        background-color: rgba(255, 237, 174, 0.927);
        z-index: 5;
        height: 5rem;
    }
    .icon-mobile-nav {
        height: 4rem;
        width: 4rem;
        color: var(--main-color);
    }
    .wrapper {
        position: relative;
    }
    .nav {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.937);
        filter: blur(0.2px);
        width: 80%;
        height: 100vh;
        transform: translateX(-100000%);
        display: flex;
        align-items: start;
        justify-content: start;
        transition: all 0.3s;
        /* hide nav */
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
    .nav-open .nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }
    .nav__list {
        flex-direction: column;
        gap: 4rem;
        margin-top: 10rem;
        margin-left: 3rem;
    }
    .nav__link:link,
    .nav__link:visited {
        font-size: 2rem;
    }
    .nav__link:hover,
    .nav__link:active {
        color: var( --acent-color);
    }
    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }
    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }
}