@media( max-width:1013px) {
    .projects__left {
        row-gap: calc(var(--index) * 1);
    }
    .projects__right {
        row-gap: calc(var(--index) * 1);
    }
    .projects {
        column-gap: calc(var(--index) * 4);
    }
    .projects__left img,
    .projects__right img {
        width: calc(var(--index) * 15);
        height: calc(var(--index) * 10);
        margin-top: 3.2rem;
    }
}

@media( max-width:1013px) {
    /* mob nav */
    .btn-mob-nav {
        display: block;
        z-index: 99999;
    }
    .main-nav {
        background-color: rgb(255, 255, 255, 0.15);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);
        display: flex;
        align-items: center;
        justify-content: center;
        /* display:none-cannot be animated(transition) */
        transition: all 0.5s ease-in;
        /* visible */
        opacity: 0;
        /* for click */
        pointer-events: none;
        /* screen readeres */
        visibility: hidden;
    }
    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
        z-index: 99999;
    }
    .nav-open .icon-mob-nav[name="close-outline"] {
        display: block;
    }
    .nav-open .icon-mob-nav[name="menu-outline"] {
        display: none;
    }
    .main-nav-list {
        flex-direction: column;
        gap: 4.8rem;
    }
    .main-nav-link:link,
    .main-nav-link:visited {
        font-size: 3rem;
    }
}